
<html>
    <head>
        <title>Checkref --Online</title>
    </head>
    <body>
        <form method="get" action="/checkref/">
            <p><label for="id_q">Start:</label>
            <input type="text" name="q" id="id_q" />
            <input type="submit" value="Submit" /></p>
        </form>
        <!--{% if results %}-->
            <!--<p>You searched for "{{ query }}"; the results are listed below.</p>-->
            <!--<ul>-->
                <!--{% for page in results %}-->
                <!--<li><a href="{{ page.adsurl }}">{{ page.title }}</a></li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--{% else %}-->
            <!--{% if query %}-->
                <!--<p>No results found.</p>-->
            <!--{% else %}-->
                <!--<p>Type a search query into the box above, and press "Submit" to search.</p>-->
            <!--{% endif %}-->
        <!--{% endif %}-->
</body>
</html>
